# Ignore compiled Python files
*.pyc

# Ignore virtual environment folder
venv/

# Ignore the .env file containing sensitive information
.env
# Ignore imageref folder 
#imageref/
#Ingnore the keys files
#industrious-eye-419611-54257af88d79.json